<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <button mat-mini-fab color="accent" routerLink="/">
            <mat-icon>home</mat-icon>
        </button>
        <!--<a routerLink="." class="example-app-name" style="text-decoration: none; color: #FFFFFF;">PasoAPaso</a>-->
    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56">
            <mat-nav-list>
                <a mat-list-item routerLink="app-locacion">
                    <mat-icon mat-list-icon>login</mat-icon>Iniciar Sesion
                </a>
                <mat-divider></mat-divider>
                <a mat-list-item routerLink="app-notificacion">
                    <mat-icon mat-list-icon>account_circle</mat-icon> Registrarse
                </a>
                <mat-divider></mat-divider>
                <a mat-list-item routerLink="app-busquedanv">
                    <mat-icon mat-list-icon>hearing</mat-icon> Buscar Ruta No Vidente
                </a>
                <mat-divider></mat-divider>
                <a mat-list-item routerLink="crear-ruta">
                    <mat-icon mat-list-icon>maps-ugc</mat-icon> Crear ruta
                </a>
                <mat-divider></mat-divider>
                <a mat-list-item routerLink="administrar-locaciones">
                    <mat-icon mat-list-icon>location_on</mat-icon> Administrar locaciones
                </a>
                <mat-divider></mat-divider>
            </mat-nav-list>
            <!--
            <mat-nav-list *ngIf="usuarioLogueado; else usuarioAnonimo">
                <a mat-list-item *ngFor="let item of menuItemsUsuario" [routerLink]="item.path">{{item.label}}</a>
            </mat-nav-list>
            <ng-template #usuarioAnonimo>
                <mat-nav-list>
                    <a mat-list-item *ngFor="let item of menuItemsAnonimo" [routerLink]="item.path">{{item.label}}</a>
                </mat-nav-list>
            </ng-template>
            -->
        </mat-sidenav>
        <router-outlet></router-outlet>
    </mat-sidenav-container>
</div>