<mat-toolbar color="primary">
    <span class="fill-remaining-space">Seguir Ruta</span>
</mat-toolbar>

<div class="container animate__animated animate__fadeIn">
    <mat-grid-list cols="1" rowHeight="2:1" *ngIf="!opcionNoValida">
        <mat-grid-tile cols="1" rowHeight="2:1" [style.background]="'lightblue'">
            <button mat-button (click)="siguienteOpcion()" [disabled]="opcionNoValida || deshabilitado"
                class="boton">{{textButton}}</button>
        </mat-grid-tile>
        <mat-grid-tile cols="1" rowHeight="2:1" [style.background]="'lightgreen'">
            <button mat-button class="boton" [disabled]="deshabilitado">Me perdí</button>
        </mat-grid-tile>
        <mat-grid-tile cols="1" rowHeight="2:1" [style.background]="'lightpink'">
            <button mat-button class="boton" [disabled]="deshabilitado" routerLink="/app-busquedanv">Abandonar
                ruta</button>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="1" rowHeight="2:1" *ngIf="opcionNoValida">
        <mat-grid-tile cols="1" rowHeight="2:1" [style.background]="'lightblue'">
            <button mat-button class="boton" [disabled]="deshabilitado">Agregar a favoritos</button>
        </mat-grid-tile>
        <mat-grid-tile cols="1" rowHeight="2:1" [style.background]="'lightgreen'">
            <button mat-button routerLink="/app-busquedanv" class="boton" [disabled]="deshabilitado">Buscar nueva
                ruta</button>
        </mat-grid-tile>
        <mat-grid-tile cols="1" rowHeight="2:1" [style.background]="'lightpink'">
            <button mat-button routerLink="/app-busquedanv" class="boton" [disabled]="deshabilitado">Invertir ruta
            </button>
        </mat-grid-tile>
    </mat-grid-list>
</div>