<mat-toolbar color="primary">
    <span class="fill-remaining-space">Seguir Ruta</span>
</mat-toolbar>

<div class="container animate__animated animate__fadeIn">
    <mat-grid-list cols="1" rowHeight="2:1" *ngIf="!opcionNoValida">
        <mat-grid-tile cols="1" rowHeight="2:1" [style.background]="'lightblue'">
            <button mat-button (click)="siguienteOpcion()" [disabled]="opcionNoValida || deshabilitado"
                class="boton">{{textButton}}</button>
        </mat-grid-tile>
        <mat-grid-tile cols="1" rowHeight="2:1" [style.background]="'lightgreen'">
            <button mat-button class="boton" [disabled]="deshabilitado">ME PERDI</button>
        </mat-grid-tile>
        <mat-grid-tile cols="1" rowHeight="2:1" [style.background]="'lightpink'">
            <button mat-button class="boton" [disabled]="deshabilitado">ABANDONAR RUTA</button>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="1" rowHeight="1.5:1" *ngIf="opcionNoValida">
        <mat-grid-tile cols="1" rowHeight="1.5:1" [style.background]="'lightblue'">
            <button mat-button class="boton">AGREGAR FAVORITOS</button>
        </mat-grid-tile>
        <mat-grid-tile cols="1" rowHeight="1.5:1" [style.background]="'lightgreen'">
            <button mat-button routerLink="/app-busquedanv" class="boton">BUSCAR NUEVA RUTA</button>
        </mat-grid-tile>
    </mat-grid-list>
</div>