<h1>Crear Locación</h1>

<h3>Por favor ingrese los datos de la locación</h3>

<form [formGroup]="form" (ngSubmit)="crear_locacion()">

    <mat-form-field class="example-full-width">
        <mat-label>Nombre de la institución</mat-label>
        <input matInput formControlName="nombreInstitucion" id="nombreInstitucion"
            placeholder="Nombre de la institución">
    </mat-form-field>

    <br>

    <mat-form-field>
        <mat-label>Tipo de institución</mat-label>
        <mat-select formControlName="tipoInstitucion" id="tipoInstitucion">
            <mat-option *ngFor="let categoria of categorias" [value]="categoria.id">
                {{categoria.nombre}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <br>

    <mat-form-field class="example-full-width">
        <mat-label>Dirección</mat-label>
        <input formControlName="direccionInstitucion" id="direccionInstitucion" matInput placeholder="Dirección">
    </mat-form-field>

    <br>

    <mat-form-field class="example-full-width">
        <mat-label>Ciudad</mat-label>
        <input matInput formControlName="ciudadInstitucion" id="ciudadInstitucion" placeholder="Ciudad">
    </mat-form-field>

    <br>

    <mat-form-field>
        <mat-label>Provincia</mat-label>
        <mat-select formControlName="provinciaInstitucion" id="provinciaInstitucion">
            <mat-option *ngFor="let provincia of provincias" [value]="provincia.id">
                {{provincia.nombre}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <br>

    <button mat-flat-button color="warn">Cancelar</button>
    <button mat-flat-button color="primary" type="submit">Guardar</button>

</form>

<h3>Instrucciónes:</h3>
<h4>Todas las locaciones se crean como privadas</h4>
<h4>Una vez que se agreguen rutas a la misma podrá proponer su publicación</h4>