<mat-toolbar color="primary">
  <span class="fill-remaining-space">Buscar Ruta </span>
</mat-toolbar>
<!--*ngIf="!post; else forminfo"-->
<div class="container" novalidate>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form">
    <mat-form-field class="form-element">
      <input type="text" matInput placeholder="Locación" formControlName="locacion" [matAutocomplete]="locacion">
      <mat-error *ngIf="!formGroup.controls['locacion'].valid">
        {{ titleAlert }}
      </mat-error>
      <mat-autocomplete autoActiveFirstOption #locacion="matAutocomplete" [displayWith]="displayLocacion"
        (optionSelected)="cargarRutas()">
        <mat-option *ngFor="let locacion of locaciones | async" [value]="locacion">
          {{locacion.nombre}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="form-element">
      <input type="text" matInput placeholder="Ruta" formControlName="ruta" [matAutocomplete]="ruta">
      <mat-error *ngIf="!formGroup.controls['ruta'].valid">
        {{ titleAlert }}
      </mat-error>
      <mat-autocomplete autoActiveFirstOption #ruta="matAutocomplete" [displayWith]="displayRuta">
        <mat-option *ngFor="let ruta of rutas | async" [value]="ruta">
          {{ruta.nombre}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Seguir
        Ruta</button>
    </div>

  </form>
</div>

<!--
<ng-template #forminfo>
  <div class="container">
    {{ post | json }}
  </div>
</ng-template>
-->