<form [formGroup]="rutaForm" (ngSubmit)="onSubmit()">
    <div fxLayout="column">
        <div fxFlex="20">
            <h1>Crear ruta</h1>
            <h3>Por favor complete la ruta</h3>
        </div>
        <div fxFlex="20">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Nombre ruta</mat-label>
                <input matInput placeholder="Ingrese un nombre de ruta" formControlName="nombre">
                <mat-error *ngIf="'required'">El nombre es obligatorio</mat-error>
            </mat-form-field>
        </div>
        <div fxFlex="20">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Institución</mat-label>
                <mat-select formControlName="locacion">
                    <mat-option *ngFor="let loc of locaciones" [value]="loc.nombre">{{loc.nombre}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="'required'">Debe seleccionar un tipo</mat-error>
                <mat-hint align="end">Elija una opción de la lista</mat-hint>
            </mat-form-field>
        </div>
        <div fxFlex="30">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Descripción</mat-label>
                <textarea matInput formControlName="descripcion"></textarea>
            </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <div fxFlex="20" formArrayName="instrucciones" 
            *ngFor="let instruccion of instrucciones.controls; let i = index">
            <div fxLayout="row" [formGroupName]="i">
                <div fxFlex="33">
                    <h3>Paso {{i + 1}}</h3>
                </div>
                <div fxFlex="33">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Tipo instrucción</mat-label>
                        <mat-select formControlName="tipoInstruccion">
                            <mat-option *ngFor="let tipoInst of tiposInstrucciones"
                                [value]="tipoInst.nombre">{{tipoInst.nombre}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="'required'">Campo obligatorio</mat-error>
                    </mat-form-field>
                </div>
                <div fxFlex="33">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Cantidad</mat-label>
                        <input type="number" matInput placeholder="Ingrese una cantidad" formControlName="cantidad">
                        <mat-error *ngIf="'min'">Ingrese una cantidad valida</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div fxFlex="20">
            <button mat-raised-button color="primary" (click)="agregarInstruccion()" type="button">+Paso</button>
        </div>
        <div fxFlex="20">
            <button mat-raised-button color="primary" type="button" (click)="reset()">Cancelar</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="!rutaForm.valid || rutaForm.pristine || rutaForm.untouched">Guardar</button>
        </div>
        <div fxFlex="20">
            <p>Instrucciones:</p>
            <p>Aquí puede crear una ruta privada</p>
        </div>
    </div>
</form>