<mat-toolbar color="primary">
  <span class="fill-remaining-space">Buscar Ruta</span>
</mat-toolbar>

<div class="container">
  <mat-grid-list cols="1" rowHeight="2:1">
    <mat-grid-tile cols="1" rowHeight="2:1" [style.background]="'lightblue'">
      <button mat-button (click)="siguienteOpcion()">SIGUIENTE</button>
    </mat-grid-tile>
    <mat-grid-tile cols="1" rowHeight="2:1" [style.background]="'lightgreen'">
      <button mat-button (click)="anteriorOpcion()">ANTERIOR</button>
    </mat-grid-tile>
    <mat-grid-tile cols="1" rowHeight="2:1" [style.background]="'lightpink'">
      <button mat-button (click)="confirmarOpcion()" [disabled]="opcionNoValida">OK</button>
    </mat-grid-tile>
  </mat-grid-list>
</div>