<mat-toolbar color="primary">
  <span class="fill-remaining-space">Busqueda rutas no videntes</span>
</mat-toolbar>
<div class="flex-container" *ngIf="categorias == null || categorias.length == 0">
  <mat-spinner></mat-spinner>
</div>
<div class="container animate__animated animate__fadeIn">
  <mat-grid-list cols="1" rowHeight="2:1">
    <mat-grid-tile cols="1" rowHeight="2:1" [style.background]="'#E8F8F5'">
      <button mat-button (click)="siguienteOpcion()" class="boton" [disabled]="deshabilitado">Siguiente</button>
    </mat-grid-tile>
    <mat-grid-tile cols="1" rowHeight="2:1" [style.background]="'#EAF2F8'">
      <button mat-button (click)="anteriorOpcion()" class="boton" [disabled]="deshabilitado">Anterior</button>
    </mat-grid-tile>
    <mat-grid-tile cols="1" rowHeight="2:1" [style.background]="'#FDEDEC'">
      <button mat-button (click)="confirmarOpcion()" [disabled]="opcionNoValida || deshabilitado"
        class="boton">Ok</button>
    </mat-grid-tile>
  </mat-grid-list>
</div>