<br>
<h1 style="margin-left:10px;">Administrar Locaciones</h1>

  <button mat-flat-button color="accent" style="margin-left:110px;" (click)="navigateCrearLocacion()">Crear Locacion</button>

<mat-card *ngFor="let locacion of locaciones" style="margin-top:10px;">
    <mat-card-header>
      <mat-card-title>{{locacion.nombre}}</mat-card-title>
      <mat-card-subtitle>{{locacion.tipoLocacion}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p style="margin-left:15px;">
        {{locacion.provincia}} - {{locacion.ciudad}}
      </p>
    </mat-card-content>
    <mat-card-actions style="margin-left:15px;">
        <button mat-flat-button color="warn">Editar</button>
        <button mat-flat-button color="primary">Publicar</button>
    </mat-card-actions>
  </mat-card>