<mat-toolbar color="primary">
  <span class="fill-remaining-space">Administrar Locaciones</span>
</mat-toolbar>
<div fxLayout="column" fxLayoutAlign="center center">
  <div fxFlex="20">
    <button mat-flat-button color="accent" (click)="navigateCrearLocacion()" class="crear-button">Crear
      Locacion</button>
  </div>
  <div fxFlex="40" class="row" *ngFor="let locacion of locaciones">
    <mat-card>
      <mat-card-header class="card-center">
        <mat-card-title class="title-card">{{locacion.nombre}}</mat-card-title>
        <mat-card-subtitle class="title-card">{{locacion.tipoLocacion}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="card-center">
        <p>
          {{locacion.provincia}} - {{locacion.ciudad}}
        </p>
      </mat-card-content>
      <mat-card-actions class="card-button">
        <button mat-flat-button color="warn" class="button">Editar</button>
        <button mat-flat-button color="primary" class="button">Publicar</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>